footer {
  position: fixed;
  font-size: .8em;
  text-align: right;
  bottom: 0;
  margin-left: -25px;
  height: 20px;
  width: 97%
}

.pull-right {
  float: right !important;
}

.img-xlarge {
  width: 1000px;
  height: auto;
}

.img-large {
  width: 700px;
  height: auto;
}

.img-medium {
  width: 500px;
  height: auto;
}

.img-small {
  width: 300px;
  height: auto;
}

.m-l-md {
  margin-left: 40px;
}

.m-l-sm {
  margin-left: 20px;
}

.m-l-xs {
  margin-left: 10px;
}

.m-t-xs {
  margin-top: 10px;
}

.m-b-xs {
  margin-bottom: 10px;
}

.m-r-xs {
  margin-right: 20px !important;
}

.practice {
  color: darkslategray;
}

.checkpoint {
  color: darkslategrey;
}